html,
body {
    font-family: sans-serif;
}

.item {
    border-bottom: 1px solid black;
    border-left: 5px solid white;
    padding-left: 2px;
    min-height: 50px;
}

.item:first-of-type {
    border-top: 1px solid black;
}

.item .itemName {
    font-weight: bold;
    font-size: larger;
}

.item .itemActions {
    float: right;
    padding-top: 5px
}