html,
body {
    font-family: sans-serif;
}

button {
    height: 25px;
}

.buttonbar {
    margin-bottom: 5px;
}

.buttonbar button {
    margin-right: 5px;
    height: 40px;
}

.item {
    border-top: 1px solid black;
    border-left: 5px solid white;
    padding-left: 2px;
    min-height: 50px;
    overflow: auto;
}

.item:last-of-type {
    border-bottom: 1px solid black;
}

.item .itemName {
    font-weight: bold;
    font-size: larger;
}

.item .itemName .itemVariant {
    font-weight: normal;
    font-size: smaller;
}

.item .itemActions {
    float: right;
}

.item .itemActions .itemAction {
    display: block;
    margin: 5px 0 5px auto;
}

.item .itemEntry {
    display: table-row;
}

.item .itemEntry label {
    display: table-cell;
    padding-right: 10px;
}

.item .itemEntry input {
    display: table-cell;
}